body {
    margin: 0;
    --background-color: rgb(157, 82, 228); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.layout {
    display:grid;
    grid-template: 1fr 8fr / 300px 1fr;
}

.placeholder {
    grid-column: 1;
    grid-row: 1/3;
}

.sidebar {
    position:fixed;
    height:100%;
    width:300px;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 2fr 1fr;
    gap: 40px;
    padding-bottom: 90px;
}

.sidebaritems {
    display: grid;
    grid-template-columns: 1fr;
}

.sidebarsettings {
    display: grid;
    grid-template-columns: 1fr;
}

.logo,
.sidebaritems > .item, 
.sidebarsettings > .item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    gap: 6px;
    padding:4px;
}

.logo > h1,
.sidebaritems > .item > div, 
.sidebarsettings > .item > div {
    color: white;
    text-shadow: 2px 1px #00000046;
}

.logo > img {
    height: 3em;
    width: 3em;
}

.logo > h1 {
    justify-self: start;
}

.sidebaritems {
    margin-top: -60px;
}

.sidebaritems > .item, 
.sidebarsettings > .item  {
    align-items: center;
}

.sidebaritems > .item > div, 
.sidebarsettings > .item > div  {
    justify-self: start;
}

.sidebaritems > .item > img, 
.sidebarsettings > .item > img,
.logo > img {
    justify-self: center;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.header {
    background-color: azure;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    box-shadow: 3px 3px 3px black;
}

.topbar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 130px;
    justify-content: space-between;
}

.topbar > div {
    display: grid;
    align-content: center;
}

.topbar > .search {
    grid-template-columns: 1fr 9fr;
    padding-right: 160px;
    gap: 10px;
}

.search > img {
    justify-self: end;
}

.search > input {
    background-color: lightgray;
    border-radius: 8px;
    border: 0px;
    padding-left: 10px;
}

.search > input:focus {
    outline: 1px solid black;
}

.topbar > .userdetails {
    grid-template-columns: 1fr 1fr 2.5fr;
}

.userdetails > .icon {
    height: 40px;
    border-radius: 50%;
    align-self: center;
}

.userdetails > img {
    justify-self: center;
}

.userdetails > .notif,
.userdetails > div {
    align-self: center;
}

.userdetails > div {
    white-space: nowrap;
}

.usertop {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    position: sticky;
    top: 550px;
}

.usertop > .userstuff {
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;
    gap: 20px;
}

.userstuff > div > h3 {
    margin-top: 0;
}

.userstuff > div > p {
    margin-bottom: 0px;
}

.userstuff > img {
    height: 50px;
    border-radius: 50%;
    justify-self: end;
}

.usertop > .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding-right: 20px;
}

.usertop > .buttons > button {
    background-color: var(--background-color);
    border-radius: 25px;
    height: 50px;
    width: 100px;
    align-self: center;
    color: white;
    border: 0px;
    font-weight: bold;
}

.content {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

h2 {
    font-weight: bold;
    padding-left: 22px;

}

.content > .community {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 450px;
}

.projectholder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 350px;
    gap: 20px;
}

.project {
    background-color: white;
    height: 300px;
    margin: 20px;
    border-radius: 25px;
    border-left: 10px solid yellowgreen;
    padding: 20px;
}